
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Students","ViewDetails","Student")
   
</p><p>
   
    @Html.ActionLink("Departments","Index","Department")
 
</p><p>
   
    @Html.ActionLink("Students","Index","Course")
</p>